<div class="container">
  <div class="col-md-6">
    <div class="form-area">  
    <%= hidden_field_tag :idea_id, value: '' %>
    <%= form_for(:idea, html: { id: "idea-form" }, role: "form") do |f| %>

      <div class="errors">
      </div>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
      </div>

      <div>
        <%= f.label :body%>
        <%= f.text_area :body, cols: 40, rows: 4  %>
      </div>

  <h5> Idea Quality </h5>
      <div>
        <%= f.label :quality_swill do %>
          <%= f.radio_button(:quality, "swill", checked: true) %> swill
        <% end %> 
      </div>

      <div>
        <%= f.label :quality_plausible do %>
          <%= f.radio_button(:quality, "plausible") %> plausible
        <% end %>
      </div>

      <div>
        <%= f.label :quality_genius do %>
        <%= f.radio_button(:quality, "genius") %> genius
        <% end %>
      </div>

      <div>
        <%= f.submit id: "create-idea", role: "form-button", class: "btn btn-success" %>
        <%= f.submit id: "save-edited-idea", role: "form-button", value: "Edit Idea", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</div>
