<div class="container">
  <div class="col-md-6">
    <div class="form-area">  
    <%= form_for(:idea, url: ideas_path, remote: true, method: :post, role:"form") do |f| %>

      <div class="errors">
      </div>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
      </div>

      <div>
        <%= f.label :body%>
        <%= f.text_area :body, cols: 58, rows: 4  %>
      </div>

  <h4> Idea Quality </h4>
      <div>
        <%= f.label :quality_swill do %>
          <%= f.radio_button(:quality, "swill", checked: true) %> swill
        <% end %> 
      </div>

      <div>
        <%= f.label :plausible do %>
          <%= f.radio_button(:quality, "plausible") %> plausible
        <% end %>
      </div>

      <div>
        <%= f.label :genius do %>
        <%= f.radio_button(:quality, "genius") %> genius
        <% end %>
      </div>

      <div>
        <%= f.submit "Save!", class: "class: btn btn-primary" %>
      </div>

      <% end %>
    </div>
  </div>
</div>